import /init.trustonic.rc

on post-fs-data
    # Camera
    chmod 0660 /dev/T2_CAM_CAL_DRV
    chown system camera /dev/T2_CAM_CAL_DRV

on boot
    # Fingerprint
    chown system system /sys/bus/platform/devices/fpc_interrupt/irq
    chown system system /sys/bus/platform/devices/fpc_interrupt/clk_enable
    chown system system /sys/bus/platform/devices/fpc_interrupt/wakeup_enable

    # Tap to wake
    chown system system /sys/devices/virtual/touchscreen/touchscreen_dev/gesture_ctrl

    # Enable KSM
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

    # Tune I/O
    write /sys/block/mmcblk0/queue/add_random 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0/bdi/read_ahead_kb 128

on post-fs
    swapon_all /fstab.CP8298_I00
    write /proc/sys/vm/page-cluster 0
